@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap');

.box_color1 {
    background: linear-gradient(to bottom, #3E768E, #1E2126 1%, #2E4B59 80%, #2E4B59 90%, #29313C);
    opacity: 0.95;
    border: 1px solid #3E768E;
    border-radius: 15px;
    outline: 1px solid #29313c;
}

:root{
    --dark_blue: #011223;
    --box_gradient: linear-gradient(to bottom, #6F84A2, #3D4959 1%, #29313C 11%, #29313C 90%, #1E2126);
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #ffffff50;
}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    user-select: none;
    color: aliceblue;
}

body{
    background-image: url(../src/img/bckg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--dark_blue);
}
.daily{
    background-size: contain; /* Garante que a imagem fique toda visível */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center top; /* Centraliza a imagem no topo da tela */
    width: 100vw; /* Garante que o body tenha 100% da largura da viewport */
}

nav{
    background: linear-gradient(to bottom, #1E2126 55%, #2E4B59 96%, #3E768E);
    opacity: 90%;
    min-width: 375px;
    padding: 15px 30px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 10px #c5e9ff62;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maplehubico{
    height: 60px;
}

.menuNav{
    width: 70dvw;
    display: flex;
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 1.1rem;
    gap: 10px;
    padding: 0 10px;
}

.menuNave_sobre{
    padding: 0 10px;
    opacity: 60%;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.menuNave_sobre:hover{
    opacity: 100%;
    background-color: #c5e9ff30;
    text-shadow: 0 0 20px #56a8db;
}

.body{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.boxBody{
    max-width: 50vw;
    margin-top: 10vh;
    font-family: Roboto, sans-serif;
    background: linear-gradient(to bottom, #3E768E, #1E2126 1%, #2E4B59 80%, #2E4B59 90%, #29313C);
    opacity: .95;
    border: 2px solid #3E768E;
    border-radius: 15px;
    outline: 1px solid #29313c;
    color: aliceblue;
    padding: 50px ;
}

p{
    margin: 15px;
}

ul{
    margin: 15px;
    text-align: left;
}

li{
    margin-bottom: 5px;
}

h1,h2{
    font-family: "Glory", sans-serif;
    font-weight: 800;
    font-style: normal;
}

a{
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

.menuDaily{
    width: 80vw;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.dailyOpt{
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Roboto, sans-serif;
}

.dailyOpt:hover{
    text-shadow: 0 0 15px #56a8db;
}

.dailybody{
    margin: 50px auto;
    max-width: 80vw;
    padding: 20px;
}

.gridBoss{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 30px;
    overflow-y: auto;
    height: 500px;
    padding: 20px 0;

    mask-image: linear-gradient(transparent, black 10%), 
                linear-gradient(to top, transparent, black 10%);
  mask-composite: intersect;
}

.gridBoss::-webkit-scrollbar {
    width: 8px;
}

.gridBoss::-webkit-scrollbar-track {
    background: var(--dark_blue);
}
::-webkit-scrollbar-thumb {
    background-color: #d2e1e7;  /* Cor principal do thumb (neon) */
    border-radius: 10px;        /* Deixa o thumb com cantos arredondados */
    border: 2px solid #3e768e77;  /* Borda sólida ao redor do thumb */
    
    /* Aplicando o efeito de neon com sombra */
    box-shadow: 0 0 5px #3E768E, 
                0 0 10px #444645, 
                0 0 15px #3E768E, 
                0 0 20px #3E768E;
}

.bossCard img{
    height: 15rem;
}